<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" />
    <title>About</title>
  </head>
  <body>
    <div class="main-content">
  {{>header}}
  <p>{{aboutMsg}}</p>
    <img class="portrait" src="/img/perfect.jpg" alt="Just an image" />
              <br />
      <b>- Features:</b>
      <li>Search for you location.</li>
      <li>Get weather information with Weather Stack API</li>
      <li>Get location information by Map Box API</li>
      <li>Navigate between many pages with handlebars.js</li>
      </div>
  {{>footer}}
  </body>
</html>
